/* Default styles */
* {
    box-sizing: border-box;
    }
    
    body {
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;}
    
    label {
        display: block; /* Ensure each label is on its own line */
        margin-bottom: 10px; /* Adjust the spacing as needed */
    }
    
    input {
        display: block; /* Ensure each input field is on its own line */
        margin-bottom: 20px; /* Adjust the spacing as needed */
        border-radius: 0.5rem;
        width:100%;
        padding: 6px;
        background-color: rgb(245, 202, 156);
        border-color: transparent;
        
    }

    button{
        display: block;
        padding: 6px 10px;
        margin: 10px 0;
        border-radius: 0.7rem;
        background-color: transparent;
        border-color: rgba(20, 20, 20, 0.2) ;
        cursor:pointer;
    }

    .box {
    border: 1px solid rgba(20, 20, 20, 0.2);
    border-radius: 0.5rem;
    padding: calc(1em - 1px);
    width: 100%;
    background-color: rgb(253, 235, 187);
    }
    
    .page {
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    -webkit-box-align: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%; 
    margin-top: 3.75rem; 
    margin-bottom: 3.75rem;
    }
    
    .motion {
    position: relative;
    background: rgb(253, 235, 187);
    color: rgb(20, 20, 20);
    inset: 0px;
    color-scheme: light;
    overflow: hidden;
    }
    
    /* Media query for tablets and smaller devices */
    @media (max-width: 768px) {
     .page {
    flex-direction: column;
    }
     }
     
    /* Media query for mobile phones */
    @media (max-width: 480px) {
    .page {
     flex-direction: column;
     gap: 0.5rem;
     }
    }
    
    .header{
     position: fixed;
     top: 0px;
     left: 0px;
     right: 0px;
     height: 3.75rem;
     background: rgb(253, 235, 187);
     outline: none;
     z-index: 999990;
     display: block;
    }

    .page h2, .page h4{
        text-align: left;
        width: 100%; /* Ensure they take full width within the .box */
       
        margin-right: 0; /* Remove any right margin if exists */

    }

    .sidebar {
        margin-top: 4rem; /* Ensure the sidebar button is not hidden by the header */
    }